{% extends 'layouts/base.html' %}

{% block head %}
    <title>Contact</title>
{% endblock %}

{% block body %}
   <div class="background">
     <div class="container-fluid" align="center">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact_input">
                    <div class="form_content">
                        <h1 class="contact_title">Contact us</h1>
                        <div>&nbsp;</div>

                        <form method="post">

                            {% csrf_token %}
                            {{ form.as_p }}
                            <div>&nbsp;</div>

                            <button type="submit" class="btn btn-success"> Trimite </button>
                        </form>
                    </div>

                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
     </div>
   </div>
{% endblock %}