{% extends 'layouts/base.html' %}

{% block head %}
    <title>AnimalShelter</title>
{% endblock %}

{% block body %}
    <div class="wallpaper">
        <div>&nbsp;</div>
    </div>

    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="wallpaper-title-introduction">
                <h1>Everyone needs a home. Adopt now!</h1>
            </div>
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <div class="extra-margin-top" align="center">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="check_out_message">
                        <h1>Follow this steps!</h1>
                    </div>

                    <div>&nbsp;</div>
                    <div>&nbsp;</div>

                </div>

                <div class="col-lg-4">
                    <div class="description-column">
                        <i class="far fa-eye"></i>
                        <h1>Step one</h1>
                        <div>&nbsp;</div>
                        <p>
                            Check out our available animals!
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="description-column">
                        <i class="far fa-grin-hearts"></i>
                        <h1>Step two</h1>
                        <div>&nbsp;</div>
                        <p>
                            Find the one you like the most!
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="description-column">
                        <i class="fas fa-dog"></i>
                        <h1>Step three</h1>
                        <div>&nbsp;</div>
                        <p>
                            Contact us and come to get your pet!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breathing-space">

    </div>

    <div class="container-fluid" align="center">
        <div class="row">
            <div class="col-lg-12">
                <div class="check_out_message">
                    <h1>Check out our animals!</h1>
                </div>
            </div>

            {% for animal in animal_query %}
                <div class="col-lg-4">
                    <div class="specific-animal">
                        <img src="{{ animal.picture.url }}" alt="animal">
                        <div>&nbsp;</div>
                        <h1>{{ animal.name }}</h1>
                        <div>&nbsp;</div>
                        <p>{{ animal.story | slice:":50"}}</p>
                        <a class="animal_name" href="{% url 'animal_list_details' animal.animal_slug %}"> Read more </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

{% endblock %}

