{% extends 'layouts/base.html' %}

{% block head %}
    <title>Newsletter</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12">
            <div>&nbsp;</div>
            <h1 class="newsletter_title">Newsletter</h1>
            <div>&nbsp;</div>

            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <div>&nbsp;</div>

                <button type="submit" class="btn btn-success"> Trimite </button>
            </form>
        </div>
    </div>
{% endblock %}




































