{% extends 'layouts/base.html' %}

{% block head %}
    <title>News</title>
{% endblock %}

{% block body %}
    <div class="container-fluid" align="center">
        <div class="row">
            {% for post in news_query %}
                <div class="col-lg-4">
                    <div class="new_post">
                        <img src="{{ post.cover_picture.url }}" alt="post">
                        <div>&nbsp;</div>
                        <h1>{{ post.title }}</h1>
                        <div>&nbsp;</div>
                        <p>{{ post.content | slice:":50"}}</p>
                        <a href="{% url 'news_details' post.news_slug %}"> Read more </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}